
<div class="panel-footer">
    <nav class="ct-pagination" aria-label="Page navigation example">
      <ul class="pagination">

        <li class="page-item <%= paginationData.page -1>0?"":"ct-click-disabled" %>">
          <a pagination-page="<%= paginationData.page -1 %>" href="javascript:;" class="page-link" href="#">&laquo;</a>
        </li>

        <% for( let page of paginationData.pagination ) { %>
          <li  class="page-item <%= page === paginationData.page?'active':'' %>"><a pagination-page="<%= page %>" class="page-link" href="javascript:;"><%= page %></a></li>       
        <% } %>

        <li   class="page-item <%= paginationData.page < paginationData.pages?"":"ct-click-disabled" %>">
          <a pagination-page="<%= paginationData.page +1 %>" href="javascript:;" class="page-link" href="#">&raquo;</a>
        </li>

      </ul>

      <form form-params="page" class="ct-pagination-form" action="">
        <input type="number" name="page" class="ct-pagination-input" value="<%= paginationData.page %>" min="1" max="<%= paginationData.pages %>">
        <button type="submit" class="ct-pagination-button" >GO PAGE</button>
      </form>
    </nav>
  </div>
  <!-- <script type="module" src="../shared/js/pagination.js"></script> -->